@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins';
}


.header-child {
    height: 89px;
    width: 1440px;
    position: relative;
    background-color: var(--neutrals-14);
    display: none;
    max-width: 100%;
  }
  .image-4-icon1 {
    height: 57px;
    width: 36px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .div1,
  .government-of-national1 {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    z-index: 1;
  }
  .div1 {
    z-index: 2;
  }
  .hindi-name {
    flex-direction: row;
    padding: 0 var(--padding-12xs);
    font-size: var(--font-size-sm);
    font-family: var(--font-anek-devanagari);
  }
  .english-name,
  .govt-logo,
  .govt-name,
  .hindi-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .english-name {
    align-self: stretch;
    flex-direction: column;
  }
  .govt-logo,
  .govt-name {
    max-width: 100%;
  }
  .govt-name {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-8xs) 0 0;
    box-sizing: border-box;
  }
  .govt-logo {
    width: 367px;
    flex-direction: row;
    gap: var(--gap-6xs);
  }
  .image-5-icon1 {
    align-self: stretch;
    height: 36.2px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .app-details {
    width: 121px;
    border-radius: 1.54px;
    background-color: var(--neutrals-14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-6xs-2) var(--padding-7xs) var(--padding-6xs-2)
      var(--padding-3xs);
    box-sizing: border-box;
    z-index: 1;
  }
  .label {
    cursor: pointer;
  }
  .input {
    display: none;
  }
  .image-6 {
    height: 40.3px;
    width: 79px;
    position: relative;
    background-image: url(./public/image-61@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
  }
  .app-name1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .app-info,
  .header {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .app-info {
    width: 259px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .header {
    align-self: stretch;
    background-color: var(--neutrals-14);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-2xl) var(--padding-52xl) var(--padding-xs)
      var(--padding-56xl);
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-lg);
    color: var(--neutrals-01);
    font-family: var(--font-roboto);
  }
  .heading-child {
    height: 80px;
    width: 1440px;
    position: relative;
    background-color: var(--color-darkslateblue-200);
    display: none;
    max-width: 100%;
  }
  .sarva2,
  .svastha2 {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 71px;
    flex-shrink: 0;
    z-index: 1;
  }
  .svastha2 {
    min-width: 100px;
  }
  .app-name-container,
  .svastha1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .svastha1 {
    flex-direction: row;
    padding: 0 0 0 var(--padding-4xl);
    margin-top: -11px;
    color: var(--primary-02);
  }
  .app-name-container {
    flex-direction: column;
  }
  .home1 {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    cursor: default;
    min-width: 60px;
    z-index: 1;
  }
  .appointment-scheduler1 {
    font-weight: 600;
  }
  .appointment-scheduler1,
  .bed-availability {
    text-decoration: none;
    position: relative;
    color: inherit;
    cursor: default;
    z-index: 1;
  }
  .app-details-container,
  .availability {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .availability {
    flex-direction: row;
    justify-content: flex-start;
    gap: 58.5px;
  }
  .app-details-container {
    width: 749px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    font-size: var(--font-size-3xl);
  }
  .loginregister3 {
    text-decoration: none;
    position: relative;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--primary-01);
    text-align: left;
    display: inline-block;
    min-width: 119px;
  }
  .auth,
  .auth-details,
  .heading {
    display: flex;
    align-items: flex-start;
  }
  .auth-details {
    cursor: pointer;
    border: 0;
    padding: var(--padding-2xs) var(--padding-7xl);
    background-color: var(--neutrals-13);
    border-radius: 12.17px;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1;
  }
  .auth-details:hover {
    background-color: var(--color-lightgray);
  }
  .auth,
  .heading {
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 var(--padding-7xs);
  }
  .heading {
    align-self: stretch;
    background-color: var(--color-darkslateblue-200);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-smi) var(--padding-56xl) var(--padding-xs)
      var(--padding-43xl);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .navigation-menu-child {
    width: 373px;
    height: 926px;
    position: relative;
    background-color: var(--color-darkslateblue-100);
    display: none;
    max-width: 100%;
  }
  .new-appointment {
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.05em;
    line-height: 120%;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--neutrals-13);
    text-align: left;
  }
  .menu-options {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-lgi);
    background-color: var(--color-darkslateblue-200);
    align-self: stretch;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 2;
  }
  .menu-options:hover {
    background-color: #33578f;
  }
  .appointment-status {
    cursor: default;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    font-size: var(--font-size-5xl);
    letter-spacing: 0.05em;
    line-height: 120%;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--neutrals-13);
    text-align: left;
    display: inline-block;
  }
  .menu-options1,
  .navigation-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-options1 {
    align-self: stretch;
    border-radius: var(--br-2xs);
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-lgi);
    z-index: 2;
  }
  .navigation-menu {
    height: 926px;
    width: 371px;
    background-color: var(--color-darkslateblue-100);
    flex-direction: column;
    padding: var(--padding-91xl) 0 var(--padding-91xl) 73px;
    box-sizing: border-box;
    gap: 32px;
    min-width: 371px;
    max-width: 100%;
    z-index: 1;
  }
  .book-your-appointment {
    margin: 0;
    position: relative;
    font-size: 3rem;
    line-height: 68px;
    font-weight: 500;
    font-family: inherit;
  }
  .new-appointment1 {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
  }
  .new-appointment-heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-base) var(--padding-8xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: 30px;
  }
  .patients-name1 {
    color: var(--neutrals-01);
  }
  .patients-name {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
    white-space: nowrap;
  }
  .label-placeholders {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xs);
  }
  .full-name {
    width: 255px;
    border: 0;
    outline: 0;
    font-family: var(--font-roboto);
    font-size: var(--font-size-lg);
    background-color: transparent;
    height: 29px;
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
    color: var(--neutrals-04);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .field-labels,
  .input-containers {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .input-containers {
    height: 44px;
    border-radius: var(--br-5xs);
    background-color: var(--neutrals-14);
    border: 1.5px solid var(--neutrals-04);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-5xs) var(--padding-11xs);
  }
  .field-labels {
    height: 83px;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .email-id {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
    display: inline-block;
    min-width: 121px;
    white-space: nowrap;
  }
  .mobile {
    min-width: 100px;
    white-space: nowrap;
  }
  .age,
  .age2,
  .mobile {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
    display: inline-block;
  }
  .age {
    min-width: 60px;
    white-space: nowrap;
  }
  .age2 {
    width: 114px;
    border: 0;
    outline: 0;
    font-family: var(--font-roboto);
    font-size: var(--font-size-lg);
    background-color: transparent;
    height: 29px;
    color: var(--neutrals-04);
    text-align: left;
    padding: 0;
  }
  .age-fields {
    height: 83px;
    width: 201px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .gender {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 120%;
    display: inline-block;
    min-width: 105px;
    white-space: nowrap;
  }
  .age-container,
  .gender-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .gender-container {
    height: 85px;
    width: 193px;
    flex-direction: column;
    gap: 10px;
  }
  .age-container {
    flex-direction: row;
    gap: 63px;
  }
  .messageoptional {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 34px;
  }
  .messageoptional-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-mid);
  }
  .field-labels-child,
  .field-labels3,
  .input-fields,
  .messageoptional-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .field-labels-child {
    border: 1.5px solid var(--neutrals-04);
    background-color: var(--neutrals-14);
    height: 136px;
    width: auto;
    outline: 0;
    align-self: stretch;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-7xs) var(--padding-xl);
    font-family: var(--font-roboto);
    font-size: var(--font-size-lg);
    color: var(--neutrals-04);
  }
  .field-labels3,
  .input-fields {
    flex-direction: column;
  }
  .field-labels3 {
    align-self: stretch;
    gap: var(--gap-5xs);
    color: var(--neutrals-01);
  }
  .input-fields {
    width: 457px;
    gap: 23.5px;
    max-width: 100%;
  }
  .back,
  .patient-details {
    font-size: var(--font-size-9xl);
  }
  .patient-details {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 54px var(--padding-mid);
    box-sizing: border-box;
    max-width: 100%;
    color: var(--color-red);
  }
  .back {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 34px;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--primary-01);
    text-align: left;
    display: inline-block;
    min-width: 68px;
  }
  .actions {
    cursor: pointer;
    border: 1px solid var(--primary-01);
    padding: var(--padding-sm) var(--padding-11xl) var(--padding-sm)
      var(--padding-12xl);
    background-color: var(--neutrals-14);
    border-radius: var(--br-xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .actions:hover {
    background-color: var(--color-gainsboro);
    border: 1px solid #2666ba;
    box-sizing: border-box;
  }
  .proceed-to-pay {
    position: relative;
    font-size: var(--font-size-9xl);
    letter-spacing: 0.05em;
    line-height: 120%;
    font-weight: 500;
    font-family: var(--font-roboto);
    color: var(--neutrals-13);
    text-align: left;
  }
  .action-buttons,
  .actions1,
  .form-actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .actions1 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-base) var(--padding-12xl);
    background-color: var(--color-darkslateblue-100);
    border-radius: var(--br-xs);
    justify-content: flex-start;
    white-space: nowrap;
  }
  .actions1:hover {
    background-color: #2e73c4;
  }
  .action-buttons,
  .form-actions {
    max-width: 100%;
  }
  .action-buttons {
    justify-content: flex-start;
    gap: 38px;
  }
  .form-actions {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 var(--padding-36xl);
    box-sizing: border-box;
  }
  .appointment-form,
  .form-heading {
    flex-direction: column;
    max-width: 100%;
  }
  .form-heading {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .appointment-form {
    flex: 1;
    padding: 32px 0 0;
    box-sizing: border-box;
    min-width: 425px;
    text-align: left;
    font-size: var(--font-size-37xl);
    color: var(--neutrals-01);
    font-family: var(--font-roboto);
  }
  .appointment-form,
  .appointment-usecase-2,
  .navigation {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navigation {
    width: 1092px;
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: 47px;
    max-width: 100%;
  }
  .appointment-usecase-2 {
    width: 100%;
    position: relative;
    background-color: var(--neutrals-13);
    overflow-y: auto;
    flex-direction: column;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-9xl);
    color: var(--neutrals-13);
    font-family: var(--font-roboto);
  }
  @media screen and (max-width: 1225px) {
    .heading {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .navigation-menu {
      flex: 1;
    }
    .navigation {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .government-of-national1,
    .hindi-name {
      display: none;
    }
    .header {
      padding-left: var(--padding-18xl);
      padding-right: var(--padding-16xl);
      box-sizing: border-box;
    }
    .availability {
      gap: 29px;
      flex-wrap: wrap;
    }
    .heading {
      padding-left: var(--padding-12xl);
      padding-right: var(--padding-18xl);
      box-sizing: border-box;
    }
    .book-your-appointment {
      font-size: var(--font-size-26xl);
      line-height: 54px;
    }
    .new-appointment1 {
      font-size: var(--font-size-5xl);
      line-height: 29px;
    }
    .age-container {
      flex-wrap: wrap;
    }
    .patient-details {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
    .action-buttons {
      flex-wrap: wrap;
    }
    .form-actions {
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
    .appointment-form {
      min-width: 100%;
    }
    .navigation {
      gap: 23px;
    }
  }
  @media screen and (max-width: 450px) {
    .div1 {
      display: none;
    }
    .sarva2,
    .svastha2 {
      font-size: var(--font-size-3xl);
    }
    .appointment-scheduler1,
    .bed-availability,
    .home1 {
      font-size: var(--font-size-lg);
    }
    .appointment-status {
      font-size: var(--font-size-lgi);
      line-height: 23px;
    }
    .navigation-menu {
      gap: 16px;
      padding-left: var(--padding-xl);
      padding-top: var(--padding-52xl);
      padding-bottom: var(--padding-52xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .book-your-appointment {
      font-size: var(--font-size-15xl);
      line-height: 40px;
    }
    .new-appointment1 {
      font-size: var(--font-size-lg);
      line-height: 22px;
    }
    .age,
    .email-id,
    .gender,
    .mobile,
    .patients-name {
      font-size: var(--font-size-3xl);
      line-height: 27px;
    }
    .age-container {
      gap: 31px;
    }
    .back,
    .messageoptional {
      font-size: var(--font-size-3xl);
      line-height: 27px;
    }
    .action-buttons {
      gap: 19px;
    }
  }
  