body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-anek-devanagari: "Anek Devanagari";
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-3xl: 22px;
    --font-size-9xl: 28px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-37xl: 56px;
    --font-size-15xl: 34px;
    --font-size-26xl: 45px;
    --font-size-sm: 14px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --neutrals-13: #ebebeb;
    --color-darkslateblue-100: #084c9d;
    --primary-01: #004094;
    --color-darkslateblue-200: #00245c;
    --color-lightgray: #d1d1d1;
    --primary-02: #69d876;
    --neutrals-14: #fff;
    --color-gainsboro: #e6e6e6;
    --primary-shade: #305cba;
    --neutrals-01: #000;
    --neutrals-04: #3b3b3b;
    --color-red: #ff2b2e;
    --color-steelblue: #33578f;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-5xs: 8px;
    --gap-6xs: 7px;
    --gap-mini: 15px;
    --gap-13xl: 32px;
    --gap-base: 16px;
  
    /* Paddings */
    --padding-smi: 13px;
    --padding-56xl: 75px;
    --padding-xs: 12px;
    --padding-43xl: 62px;
    --padding-12xl: 31px;
    --padding-18xl: 37px;
    --padding-7xs: 6px;
    --padding-2xs: 11px;
    --padding-7xl: 26px;
    --padding-sm: 14px;
    --padding-4xl: 23px;
    --padding-12xs: 1px;
    --padding-5xs: 8px;
    --padding-base: 16px;
    --padding-36xl: 55px;
    --padding-11xl: 30px;
    --padding-2xl: 21px;
    --padding-52xl: 71px;
    --padding-16xl: 35px;
    --padding-11xs: 2px;
    --padding-9xs-9: 3.9px;
    --padding-6xs-2: 6.2px;
    --padding-3xs: 10px;
    --padding-8xs: 5px;
    --padding-xl: 20px;
    --padding-13xl: 32px;
    --padding-8xl: 27px;
    --padding-mid: 17px;
    --padding-6xs: 7px;
    --padding-91xl: 110px;
    --padding-lgi: 19px;
    --padding-9xl: 28px;
  
    /* Border radiuses */
    --br-smi-2: 12.2px;
    --br-xs: 12px;
    --br-11xs-5: 1.5px;
    --br-5xs: 8px;
    --br-2xs: 11px;
    --br-6xs: 7px;
  }
  