/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --seccolor: #ebebeb;
    --color: #004094;
    --black: #000000;
    --green: #69D876;
    font-family: 'Poppins';
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--seccolor);
    color: #333;
}

.container {
    margin: 0 auto;
}

.navbar-brand img {
    height: 50px;
    /* Adjust logo height */
}

.navbar-text {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 16px;
}

.btn-custom {
    border-color: white;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

.navbar-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-upper-right img {
    height: 50px;
    /* Adjust image height */
    margin-left: 15px;
}

.navbar-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


@media (max-width: 992px) {
    .navbar-upper-right img {
        display: none;
    }

    .navbar-text {
        font-size: 0.95rem;
    }

    .navbar-center {
        order: 2;
        justify-content: center;
        width: 100%;
    }

    .navbar-brand img {
        height: 35px;
    }

    .navbar-nav {
        text-align: center;
        /* Center align the nav items */
        width: 100%;
    }

    .navbar-collapse {
        text-align: center;
        /* Center align the collapse content */
    }

    .btn-custom.desktop-only {
        display: none;
        /* Hide the desktop button on smaller screens */
    }

    .btn-custom.mobile-only {
        display: inline-block;
        /* Show the mobile button on smaller screens */
        width: 100%;
        margin-top: 10px;
    }
}

@media (min-width: 993px) {
    .btn-custom.mobile-only {
        display: none;
        /* Hide the mobile button on larger screens */
    }

    .btn-custom.desktop-only {
        display: inline-block;
        /* Show the desktop button on larger screens */
    }
}

.main-content {
    display: flex;
    gap: 40px;
}

.left-column,
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.header-text {
    padding: 15px;
    font-size: 4.5rem;
    line-height: 1.2;
    padding: 35px 35px 0px 25px;
    color: var(--black);
}

#inside_button {
    color: var(--color) !important;
}

.slider {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    gap: 0.45rem;
}

.slider>p {
    color: var(--black);
}

.text>a {
    text-decoration: none;
    color: black;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: black;
    box-shadow: 0 0 0 2px #084C9D;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #305CBB;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #305CBB;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #084C9D;
}

.bg-primary {
    background-color: var(--color) !important;
}

.animated-button:hover .circle {
    width: 320px;
    height: 220px;
    opacity: 1;
}

.titleText {
    font-size: 3rem;
    padding: 2.5rem;
    margin-left: 1em;
}

.light-text {
    font-weight: 300;
}

.bold-text {
    font-weight: 700;
}

.left {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.services {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.services_tank {
    display: flex;
    gap: 40px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.arrow-container {
    margin-left: 2rem;
    border: 1px solid black;
    height: 58px;
    width: 350px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-container span {
    margin-left: 10px;
}

.sphere {
    height: 58px;
    width: 58px;
    border-radius: 50%;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sphere>img {
    width: 37px;
}

.service-container {
    background-color: var(--color);
    color: var(--seccolor);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    width: 550px;
}

.service-desc {
    gap: 10px;
}

.service-icon {
    width: 3.6rem;
    height: 3.6rem;
}

.service-info {
    display: flex;
    flex-direction: column;
}

.service-title {
    font-size: 2rem;
    font-weight: 600;
}

.service-text {
    font-size: 1.563rem;
    line-height: 1.5;
}

.learn-more {
    font-size: 1.25rem;
    font-weight: 600;
    color: mediumseagreen;
    cursor: pointer;
}

.aimtitle {
    font-size: 3rem;
    padding: 3.5rem;
}

.aimSection {
    font-family: Arial, sans-serif;
    background-color: var(--seccolor);
    margin: 0;
    padding: 0;
}

.aimcontainer {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 2rem;
    font-size: 1.5rem;
}


.aim-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--color);
    gap: 30px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.circle {
    width: 50px;
    height: 40px;
    background-color: #4b92f6;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 15px;
    padding: 25px;
}

.aimSection p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

/* Left and Right columns */
.left-column,
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* Center image within its container */
}

/* Responsive styles */
.burger {
    display: none;
}

.btn-custom {
    /* border-color: white; */
    /* color: white; */
    background: #EBEBEB;
    padding: 8px 20px;
    color: #004094;
    border-radius: 11px;
}

@media (max-width: 1150px) {
    .header-text {
        font-size: 3.1rem;
    }

    .service-container {
        width: 350px;
    }

}

@media (max-width: 1024px) {

    .header-text {
        font-size: 3rem;
        /* Decrease text size for smaller screens */
    }

    .titleText {
        font-size: 2.5rem;
        /* Adjust title size */
        padding: 1.5rem;
        /* Adjust padding */
    }
}

@media (max-width: 768px) {
    .header-text {
        font-size: 2.5rem;
        /* Further decrease text size for smaller screens */
    }

    .hero-image {
        max-width: 70%;
        /* Decrease image size to 70% of container */
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }
}

@media (max-width: 480px) {
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .burger {
        display: inline;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .login-text {
        font-size: 0.75rem;
    }

    .service-container {
        width: 100%;
        /* Use 100% width on mobile */
        max-width: 350px;
        /* Add max-width if you want to restrict */
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
    }

    .hero-image {
        max-width: 100%;
    }

    .services_tank {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .aim-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--color);
        gap: 15px;
        font-size: 20px;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
        background-color: #ffffff;
    }

    .slider {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 0rem 2.5rem;
        gap: 0.45rem;
    }

    .header-text {
        /* font-size: 2.5rem; */
        line-height: 1.2;
        padding: 20px 35px;
        color: var(--black);
        margin-bottom: 0px;
    }
}